<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0a1
1463010737.0 fontinfo.plist
1463010737.0 glyphs/B_.glif
1463010737.0 glyphs/B_stroke.glif
1463010737.0 glyphs/D_.glif
1463010737.0 glyphs/D_hook.glif
1463010737.0 glyphs/E_ng.a.glif
1463010737.0 glyphs/E_th.glif
1463010737.0 glyphs/H_.glif
1463010737.0 glyphs/H_bar.glif
1463010737.0 glyphs/L_cat.glif
1463010737.0 glyphs/M_.glif
1463010737.0 glyphs/N_.glif
1463010737.0 glyphs/O_slash.glif
1463010737.0 glyphs/T_.glif
1463010737.0 glyphs/T_bar.glif
1463010737.0 glyphs/W_.glif
1463010737.0 glyphs/ae.glif
1463010737.0 glyphs/bstroke.glif
1463010737.0 glyphs/clickalveolar.glif
1463010737.0 glyphs/dcroat.glif
1463010737.0 glyphs/dezh.glif
1463010737.0 glyphs/dotlessi.glif
1463010737.0 glyphs/dotlessj.glif
1463010737.0 glyphs/dotlessjstroke.glif
1463010737.0 glyphs/dotlessjstrokehook.glif
1463010737.0 glyphs/e.glif
1463010737.0 glyphs/eogonek.glif
1463010737.0 glyphs/eopen.glif
1463010737.0 glyphs/eopenreversed.glif
1463010737.0 glyphs/eopenreversedclosed.glif
1463010737.0 glyphs/ereversed.glif
1463010737.0 glyphs/esh.glif
1463010737.0 glyphs/eth.glif
1463010737.0 glyphs/g.a.glif
1463010737.0 glyphs/glottalstopstroke.glif
1463010737.0 glyphs/glottalstopstrokereversed.glif
1463010737.0 glyphs/hbar.glif
1463011810.0 glyphs/istroke.d.glif
1463010737.0 glyphs/l.glif
1463010737.0 glyphs/lbelt.glif
1463010737.0 glyphs/lcat.glif
1463010737.0 glyphs/m.glif
1463010737.0 glyphs/mhook.glif
1463011810.0 glyphs/mlonglegturned.glif
1463010737.0 glyphs/numero.glif
1463010737.0 glyphs/obar.glif
1463010737.0 glyphs/oe.glif
1463010737.0 glyphs/oesmall.glif
1463010737.0 glyphs/oslash.glif
1463010737.0 glyphs/philatin.glif
1463010737.0 glyphs/schwa.glif
1463010737.0 glyphs/t.glif
1463010737.0 glyphs/tbar.glif
1463010737.0 glyphs/ubar.glif
1463010737.0 glyphs/w.glif
1463010737.0 glyphs/zcurl.glif
1463010737.0 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>B</string>
			<string>D</string>
			<string>H</string>
			<string>M</string>
			<string>N</string>
			<string>T</string>
			<string>W</string>
			<string>e</string>
			<string>l</string>
			<string>m</string>
			<string>t</string>
			<string>w</string>
			<string>Bstroke</string>
			<string>Dhook</string>
			<string>Hbar</string>
			<string>Oslash</string>
			<string>Tbar</string>
			<string>Eth</string>
			<string>Lcat</string>
			<string>ae</string>
			<string>bstroke</string>
			<string>dcroat</string>
			<string>eogonek</string>
			<string>hbar</string>
			<string>dotlessi</string>
			<string>oslash</string>
			<string>oe</string>
			<string>tbar</string>
			<string>eth</string>
			<string>dotlessj</string>
			<string>lcat</string>
			<string>ereversed</string>
			<string>schwa</string>
			<string>eopen</string>
			<string>eopenreversed</string>
			<string>eopenreversedclosed</string>
			<string>dotlessjstroke</string>
			<string>lbelt</string>
			<string>mlonglegturned</string>
			<string>mhook</string>
			<string>obar</string>
			<string>oesmall</string>
			<string>philatin</string>
			<string>esh</string>
			<string>dotlessjstrokehook</string>
			<string>ubar</string>
			<string>zcurl</string>
			<string>dezh</string>
			<string>glottalstopstroke</string>
			<string>glottalstopstrokereversed</string>
			<string>clickalveolar</string>
			<string>Eng.a</string>
			<string>g.a</string>
			<string>istroke.d</string>
			<string>numero</string>
		</array>
	</dict>
</plist>