<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont</key>
	<string>/Users/phunt/Perforce/AdobeTypeLibrary/fonts/SourceCodePro/ItalicMM/SourceCodePro_0.pfa</string>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>mask</string>
	</array>
	<key>com.typemytype.robofont.mask.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>B</string>
				<string>D</string>
				<string>H</string>
				<string>M</string>
				<string>N</string>
				<string>T</string>
				<string>W</string>
				<string>e</string>
				<string>m</string>
				<string>t</string>
				<string>w</string>
				<string>Bstroke</string>
				<string>Hbar</string>
				<string>Oslash</string>
				<string>Tbar</string>
				<string>Eth</string>
				<string>Lcat</string>
				<string>bstroke</string>
				<string>dcroat</string>
				<string>eogonek</string>
				<string>hbar</string>
				<string>dotlessi</string>
				<string>oslash</string>
				<string>oe</string>
				<string>tbar</string>
				<string>eth</string>
				<string>dotlessj</string>
				<string>lcat</string>
				<string>ereversed</string>
				<string>schwa</string>
				<string>eopen</string>
				<string>eopenreversed</string>
				<string>eopenreversedclosed</string>
				<string>dotlessjstroke</string>
				<string>mlonglegturned</string>
				<string>mhook</string>
				<string>obar</string>
				<string>oesmall</string>
				<string>philatin</string>
				<string>esh</string>
				<string>dotlessjstrokehook</string>
				<string>ubar</string>
				<string>zcurl</string>
				<string>dezh</string>
				<string>glottalstopstroke</string>
				<string>glottalstopstrokereversed</string>
				<string>clickalveolar</string>
				<string>Eng.a</string>
				<string>g.a</string>
				<string>istroke.d</string>
				<string>numero</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>H</string>
		<string>M</string>
		<string>N</string>
		<string>T</string>
		<string>W</string>
		<string>e</string>
		<string>m</string>
		<string>t</string>
		<string>w</string>
		<string>Bstroke</string>
		<string>Hbar</string>
		<string>Oslash</string>
		<string>Tbar</string>
		<string>Eth</string>
		<string>Lcat</string>
		<string>bstroke</string>
		<string>dcroat</string>
		<string>eogonek</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>oslash</string>
		<string>oe</string>
		<string>tbar</string>
		<string>eth</string>
		<string>dotlessj</string>
		<string>lcat</string>
		<string>ereversed</string>
		<string>schwa</string>
		<string>eopen</string>
		<string>eopenreversed</string>
		<string>eopenreversedclosed</string>
		<string>dotlessjstroke</string>
		<string>mlonglegturned</string>
		<string>mhook</string>
		<string>obar</string>
		<string>oesmall</string>
		<string>philatin</string>
		<string>esh</string>
		<string>dotlessjstrokehook</string>
		<string>ubar</string>
		<string>zcurl</string>
		<string>dezh</string>
		<string>glottalstopstroke</string>
		<string>glottalstopstrokereversed</string>
		<string>clickalveolar</string>
		<string>Eng.a</string>
		<string>g.a</string>
		<string>istroke.d</string>
		<string>numero</string>
	</array>
</dict>
</plist>
