<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>B</string>
			<string>H</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>T</string>
			<string>W</string>
			<string>Y</string>
			<string>e</string>
			<string>g</string>
			<string>l</string>
			<string>m</string>
			<string>t</string>
			<string>w</string>
			<string>Bstroke</string>
			<string>Hbar</string>
			<string>Oslash</string>
			<string>Tbar</string>
			<string>Eth</string>
			<string>Lcat</string>
			<string>ae</string>
			<string>bstroke</string>
			<string>dcroat</string>
			<string>eogonek</string>
			<string>hbar</string>
			<string>dotlessi</string>
			<string>oslash</string>
			<string>oe</string>
			<string>tbar</string>
			<string>eth</string>
			<string>dotlessj</string>
			<string>lcat</string>
			<string>ereversed</string>
			<string>schwa</string>
			<string>eopen</string>
			<string>eopenreversedclosed</string>
			<string>dotlessjstroke</string>
			<string>lbelt</string>
			<string>mlonglegturned</string>
			<string>mhook</string>
			<string>nsmall</string>
			<string>obar</string>
			<string>oesmall</string>
			<string>philatin</string>
			<string>rsmall</string>
			<string>esh</string>
			<string>dotlessjstrokehook</string>
			<string>ubar</string>
			<string>zcurl</string>
			<string>dezh</string>
			<string>glottalstopstroke</string>
			<string>glottalstopstrokereversed</string>
			<string>clickalveolar</string>
			<string>Eng.a</string>
			<string>dotlessi.a</string>
			<string>istroke.d</string>
			<string>istroke.da</string>
			<string>Phi</string>
			<string>Psi</string>
			<string>epsilon</string>
			<string>xi</string>
			<string>phi</string>
			<string>psi</string>
			<string>omega</string>
			<string>phi.a</string>
			<string>Be</string>
			<string>Zhe</string>
			<string>Icyr</string>
			<string>Ef</string>
			<string>Sha</string>
			<string>Shcha</string>
			<string>Yu</string>
			<string>Lje</string>
			<string>Nje</string>
			<string>Ghestroke</string>
			<string>Ustraight</string>
			<string>Ustraightstroke</string>
			<string>ve</string>
			<string>zhe</string>
			<string>ze</string>
			<string>icyr</string>
			<string>em</string>
			<string>ef</string>
			<string>sha</string>
			<string>shcha</string>
			<string>ecyr</string>
			<string>yu</string>
			<string>ya</string>
			<string>dje</string>
			<string>ieukran</string>
			<string>lje</string>
			<string>nje</string>
			<string>ghestroke</string>
			<string>ustraight</string>
			<string>ustraightstroke</string>
			<string>numero</string>
			<string>zero.0</string>
			<string>zero.0o</string>
			<string>zero.0c</string>
			<string>e.sups</string>
			<string>schwa.sups</string>
			<string>colonmonetary</string>
			<string>naira</string>
			<string>won</string>
			<string>peso</string>
			<string>Dhook</string>
			<string>eogonek.sups</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
			<key>Be</key>
			<string>uni0411</string>
			<key>Bstroke</key>
			<string>uni0243</string>
			<key>Dhook</key>
			<string>uni018A</string>
			<key>Ef</key>
			<string>uni0424</string>
			<key>Eng.a</key>
			<string>uni014A.a</string>
			<key>Ghestroke</key>
			<string>uni0492</string>
			<key>Icyr</key>
			<string>uni0418</string>
			<key>Lcat</key>
			<string>uni004C00B7004C</string>
			<key>Lje</key>
			<string>uni0409</string>
			<key>Nje</key>
			<string>uni040A</string>
			<key>Sha</key>
			<string>uni0428</string>
			<key>Shcha</key>
			<string>uni0429</string>
			<key>Ustraight</key>
			<string>uni04AE</string>
			<key>Ustraightstroke</key>
			<string>uni04B0</string>
			<key>Yu</key>
			<string>uni042E</string>
			<key>Zhe</key>
			<string>uni0416</string>
			<key>bstroke</key>
			<string>uni0180</string>
			<key>clickalveolar</key>
			<string>uni01C2</string>
			<key>dezh</key>
			<string>uni02A4</string>
			<key>dje</key>
			<string>uni0452</string>
			<key>dotlessj</key>
			<string>uni0237</string>
			<key>dotlessjstroke</key>
			<string>uni025F</string>
			<key>dotlessjstrokehook</key>
			<string>uni0284</string>
			<key>ecyr</key>
			<string>uni044D</string>
			<key>ef</key>
			<string>uni0444</string>
			<key>em</key>
			<string>uni043C</string>
			<key>eopen</key>
			<string>uni025B</string>
			<key>eopenreversedclosed</key>
			<string>uni025E</string>
			<key>ereversed</key>
			<string>uni0258</string>
			<key>esh</key>
			<string>uni0283</string>
			<key>ghestroke</key>
			<string>uni0493</string>
			<key>glottalstopstroke</key>
			<string>uni02A1</string>
			<key>glottalstopstrokereversed</key>
			<string>uni02A2</string>
			<key>icyr</key>
			<string>uni0438</string>
			<key>ieukran</key>
			<string>uni0454</string>
			<key>istroke.d</key>
			<string>uni0268.d</string>
			<key>istroke.da</key>
			<string>uni0268.da</string>
			<key>lbelt</key>
			<string>uni026C</string>
			<key>lcat</key>
			<string>uni006C00B7006C</string>
			<key>lje</key>
			<string>uni0459</string>
			<key>mhook</key>
			<string>uni0271</string>
			<key>mlonglegturned</key>
			<string>uni0270</string>
			<key>naira</key>
			<string>uni20A6</string>
			<key>nje</key>
			<string>uni045A</string>
			<key>nsmall</key>
			<string>uni0274</string>
			<key>numero</key>
			<string>uni2116</string>
			<key>obar</key>
			<string>uni0275</string>
			<key>oesmall</key>
			<string>uni0276</string>
			<key>peso</key>
			<string>uni20B1</string>
			<key>philatin</key>
			<string>uni0278</string>
			<key>rsmall</key>
			<string>uni0280</string>
			<key>schwa</key>
			<string>uni0259</string>
			<key>schwa.sups</key>
			<string>uni0259.sups</string>
			<key>sha</key>
			<string>uni0448</string>
			<key>shcha</key>
			<string>uni0449</string>
			<key>ubar</key>
			<string>uni0289</string>
			<key>ustraight</key>
			<string>uni04AF</string>
			<key>ustraightstroke</key>
			<string>uni04B1</string>
			<key>ve</key>
			<string>uni0432</string>
			<key>won</key>
			<string>uni20A9</string>
			<key>ya</key>
			<string>uni044F</string>
			<key>yu</key>
			<string>uni044E</string>
			<key>zcurl</key>
			<string>uni0291</string>
			<key>ze</key>
			<string>uni0437</string>
			<key>zero.0</key>
			<string>zero.a</string>
			<key>zero.0c</key>
			<string>zero.c</string>
			<key>zero.0o</key>
			<string>zero.b</string>
			<key>zhe</key>
			<string>uni0436</string>
		</dict>
	</dict>
</plist>
