<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>750</integer>
	<key>copyright</key>
	<string>Source is a trademark of Adobe Systems Incorporated in the United States and/or other countries.</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Source Code Pro</string>
	<key>italicAngle</key>
	<integer>-11</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.0625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>491</integer>
		<integer>503</integer>
		<integer>576</integer>
		<integer>588</integer>
		<integer>636</integer>
		<integer>648</integer>
		<integer>654</integer>
		<integer>666</integer>
		<integer>706</integer>
		<integer>718</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>486</integer>
		<integer>498</integer>
		<integer>574</integer>
		<integer>586</integer>
		<integer>638</integer>
		<integer>650</integer>
		<integer>656</integer>
		<integer>668</integer>
		<integer>712</integer>
		<integer>724</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-217</integer>
		<integer>-205</integer>
	</array>
	<key>postscriptFontName</key>
	<string>SourceCodePro-SemiboldIt</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-206</integer>
		<integer>-194</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>92</integer>
		<integer>102</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>116</integer>
		<integer>125</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>styleName</key>
	<string>SemiboldIt</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
