<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIGURES</key>
	<dict>
		<key>blue_pairs</key>
		<array>
			<integer>0</integer>
			<integer>3</integer>
		</array>
		<key>other_blue_pairs</key>
		<array/>
		<key>regex</key>
		<array>
			<string>^(zero|one|two|three|four|five|six|seven|eight|nine)(\.0)?$</string>
			<string>^(dollar|cent|sterling|yen|Euro|florin|colonmonetary|lira|naira|peseta|dong|peso|guarani|cedi|rupeeindian|won|hryvnia|tugrik|tenge|ruble|franc)(turkish)?$</string>
			<string>^(percent|perthousand|numbersign|numero)$</string>
			<string>^(zero|one|two|three|four|five|seven)(half|third|quarter|fifth|sixth|seventh|eighth|ninth|tenth)(s)?$</string>
		</array>
		<key>stem_indexes_h</key>
		<array>
			<integer>0</integer>
		</array>
		<key>stem_indexes_v</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<key>LOWERCASE</key>
	<dict>
		<key>blue_pairs</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>5</integer>
		</array>
		<key>other_blue_pairs</key>
		<array>
			<integer>0</integer>
		</array>
		<key>regex</key>
		<array>
			<string>(dotless|germandbl|long)?([a-z]|eth|eng|schwa|rams|heng|lezh|esh|ezh|dezh|tesh)(acute|grave|circumflex|tilde|dieresis|macron|breve|ring|caron|ogonek|dotbelow|stroke|line|cedilla|dotaccent|croat|commaaccent|bar|greenlandic|slash|apostrophe|hungarumlaut|horn|cat|dot|turned|latin|hook|open|curl|tail|reversed|small|script|crossed|middle|belt|retroflex|longleg|fish|lottalstop|lick)?(acute|grave|hoi|tilde|dotbelow|below|macron|caron|turned|rhotic|reversed|tail|left|hook|inverted|stroke|alveolar|bilabial)?(closed|reversed|.a|.d|.da)?</string>
			<string>^[afoi][eijl](acute|macron|small)?$</string>
			<string>^(f)_(f|t)$</string>
			<string>^(alpha|beta|gamma|delta|epsilon|zeta|eta|theta|iota|kappa|lambda|mu|nu|xi|omicron|pi|rho|sigma|tau|upsilon|phi|chi|psi|omega)(dieresis|latin|.end|.a|.math)?(tonos|turned)?$</string>
			<string>^(kai|stigma|koppa|sampi|digamma)$</string>
			<string>^(a|e|i|o|u|ie|schwa)(grave|breve|dieresis|macron|gravedbl|straight|bar|acutedbl)?(cyr|short|ukran|stroke)?(.a)?$</string>
			<string>^(be|ve|ghe|de|ie|zhe|ze|ka|el|em|en|pe|er|es|te|ef|ha|tse|che|sha|shcha|hard|yeru|soft|yu|ya|io|dje|gje|dze|yi|je|lje|nje|tshe|kje|dzhe|yat|fita|izhitsa|shha|palochka|aie)(grave|breve|ukran|up|descender|straight)?(stroke|bashkir|ital|.srb|.a)?$</string>
			<string>^(exclam|question|interrobang)down$</string>
			<string>^(dagger|daggerdbl)$</string>
			<string>^(litre|heart|club|diamond|spade)$</string>
		</array>
		<key>stem_indexes_h</key>
		<array>
			<integer>0</integer>
		</array>
		<key>stem_indexes_v</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<key>TEXT_FIGURES</key>
	<dict>
		<key>blue_pairs</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<key>other_blue_pairs</key>
		<array/>
		<key>regex</key>
		<array>
			<string>^(zero|one|two|three|four|five|six|seven|eight|nine)(.onum|\.0o)$</string>
		</array>
		<key>stem_indexes_h</key>
		<array>
			<integer>0</integer>
		</array>
		<key>stem_indexes_v</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<key>UPPERCASE</key>
	<dict>
		<key>blue_pairs</key>
		<array>
			<integer>0</integer>
			<integer>4</integer>
		</array>
		<key>other_blue_pairs</key>
		<array/>
		<key>regex</key>
		<array>
			<string>^([A-Z]|AE|OE|Germandbls|Eth|Thorn|Schwa|Eng|IJ)(acute|grave|circumflex|tilde|dieresis|macron|breve|ring|ringacute|caron|ogonek|dotbelow|hoi|stroke|linebelow|cedilla|dotaccent|croat|commaaccent|hook|brevebelow|bar|dotbelowmacron|slash|hungarumlaut|horn|cat|dot)?(acute|grave|hoi|tilde|dotbelow|macron|caron|.a)?$</string>
			<string>^(Alpha|Beta|Gamma|Delta|Epsilon|Zeta|Eta|Theta|Iota|Kappa|Lambda|Mu|Nu|Xi|Omicron|Pi|Rho|Sigma|Tau|Upsilon|Phi|Chi|Psi|Omega)(iotasub)?(tonos|grave|acute|dieresis|lenis|asper|breve|macron|.greek)?(grave|acute|tilde)?(.a|.alt)?$</string>
			<string>^(A|E|I|O|U|Schwa)(grave|breve|dieresis|macron|gravedbl|straight|bar)?(acutedbl)?(cyr|short|ukran|straight)(stroke)?$</string>
			<string>^(Be|Ve|Ghe|De|Ie|Zhe|Ze|Ka|El|Em|En|Pe|Er|Es|Te|Ef|Ha|Tse|Che|Sha|Shcha|Hard|Yeru|Soft|Yu|Ya|Io|Dje|Gje|Dze|Yi|Je|Lje|Nje|Tshe|Kje|Dzhe|Yat|Fita|Izhitsa|Shha|Palochka|Aie)(grave|breve|ukran|up|descender|stroke|bashkir)?$</string>
			<string>^(exclam|question|exclamdbl|questiondbl|exclamquestion|questionexclam|interrobang)$</string>
			<string>^(trademark|registered|servicemark)$</string>
			<string>^(ampersand|section|paragraph)$</string>
			<string>^(zero|one|two|three|four|five|six|seven|eight|nine)(.cap|\.0c)$</string>
			<string>^(Delta|Omega).math$</string>
			<string>^(universal|existential|lozenge|house|estimated)$</string>
		</array>
		<key>stem_indexes_h</key>
		<array>
			<integer>0</integer>
		</array>
		<key>stem_indexes_v</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
</dict>
</plist>
