# ignore build folder:
target

# ignore font binaries in master branch:
Source*.otf
Source*.ttf

RomanMasters/colors_0
RomanMasters/colors_1
RomanMasters/colors_2
ItalicMasters/colors_0
ItalicMasters/colors_1
ItalicMasters/colors_2
