<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Abreveacute</key>
	<string>Abreveacute_.glif</string>
	<key>Abrevedotbelow</key>
	<string>Abrevedotbelow_.glif</string>
	<key>Abrevegrave</key>
	<string>Abrevegrave_.glif</string>
	<key>Abrevehook</key>
	<string>Abrevehook_.glif</string>
	<key>Abrevetilde</key>
	<string>Abrevetilde_.glif</string>
	<key>Acaron</key>
	<string>Acaron_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Acircumflexacute</key>
	<string>Acircumflexacute_.glif</string>
	<key>Acircumflexdotbelow</key>
	<string>Acircumflexdotbelow_.glif</string>
	<key>Acircumflexgrave</key>
	<string>Acircumflexgrave_.glif</string>
	<key>Acircumflexhook</key>
	<string>Acircumflexhook_.glif</string>
	<key>Acircumflextilde</key>
	<string>Acircumflextilde_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adotbelow</key>
	<string>Adotbelow_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Ahook</key>
	<string>Ahook_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Bstroke</key>
	<string>Bstroke_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex_.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>Ddotbelow</key>
	<string>Ddotbelow_.glif</string>
	<key>Delta.math</key>
	<string>Delta_.math.glif</string>
	<key>Dlinebelow</key>
	<string>Dlinebelow_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ebreve</key>
	<string>Ebreve_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Ecircumflexacute</key>
	<string>Ecircumflexacute_.glif</string>
	<key>Ecircumflexdotbelow</key>
	<string>Ecircumflexdotbelow_.glif</string>
	<key>Ecircumflexgrave</key>
	<string>Ecircumflexgrave_.glif</string>
	<key>Ecircumflexhook</key>
	<string>Ecircumflexhook_.glif</string>
	<key>Ecircumflextilde</key>
	<string>Ecircumflextilde_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Edotbelow</key>
	<string>Edotbelow_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Ehook</key>
	<string>Ehook_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Etilde</key>
	<string>Etilde_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gcaron</key>
	<string>Gcaron_.glif</string>
	<key>Gcircumflex</key>
	<string>Gcircumflex_.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>Germandbls</key>
	<string>Germandbls_.glif</string>
	<key>Gmacron</key>
	<string>Gmacron_.glif</string>
	<key>Gtilde</key>
	<string>Gtilde_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>Hbrevebelow</key>
	<string>Hbrevebelow_.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex_.glif</string>
	<key>Hdotbelow</key>
	<string>Hdotbelow_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Ibreve</key>
	<string>Ibreve_.glif</string>
	<key>Icaron</key>
	<string>Icaron_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Idotbelow</key>
	<string>Idotbelow_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Ihook</key>
	<string>Ihook_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jcircumflex</key>
	<string>Jcircumflex_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Ldot</key>
	<string>Ldot_.glif</string>
	<key>Ldotbelow</key>
	<string>Ldotbelow_.glif</string>
	<key>Ldotbelowmacron</key>
	<string>Ldotbelowmacron_.glif</string>
	<key>Llinebelow</key>
	<string>Llinebelow_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Mdotbelow</key>
	<string>Mdotbelow_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Ndotaccent</key>
	<string>Ndotaccent_.glif</string>
	<key>Ndotbelow</key>
	<string>Ndotbelow_.glif</string>
	<key>Nlinebelow</key>
	<string>Nlinebelow_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Obreve</key>
	<string>Obreve_.glif</string>
	<key>Ocaron</key>
	<string>Ocaron_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Ocircumflexacute</key>
	<string>Ocircumflexacute_.glif</string>
	<key>Ocircumflexdotbelow</key>
	<string>Ocircumflexdotbelow_.glif</string>
	<key>Ocircumflexgrave</key>
	<string>Ocircumflexgrave_.glif</string>
	<key>Ocircumflexhook</key>
	<string>Ocircumflexhook_.glif</string>
	<key>Ocircumflextilde</key>
	<string>Ocircumflextilde_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Odotbelow</key>
	<string>Odotbelow_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohook</key>
	<string>Ohook_.glif</string>
	<key>Ohorn</key>
	<string>Ohorn_.glif</string>
	<key>Ohornacute</key>
	<string>Ohornacute_.glif</string>
	<key>Ohorndotbelow</key>
	<string>Ohorndotbelow_.glif</string>
	<key>Ohorngrave</key>
	<string>Ohorngrave_.glif</string>
	<key>Ohornhook</key>
	<string>Ohornhook_.glif</string>
	<key>Ohorntilde</key>
	<string>Ohorntilde_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Omega.math</key>
	<string>Omega_.math.glif</string>
	<key>Oogonek</key>
	<string>Oogonek_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>Rdotbelow</key>
	<string>Rdotbelow_.glif</string>
	<key>Rdotbelowmacron</key>
	<string>Rdotbelowmacron_.glif</string>
	<key>Rlinebelow</key>
	<string>Rlinebelow_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Schwa</key>
	<string>Schwa_.glif</string>
	<key>Scircumflex</key>
	<string>Scircumflex_.glif</string>
	<key>Scommaaccent</key>
	<string>Scommaaccent_.glif</string>
	<key>Sdotaccent</key>
	<string>Sdotaccent_.glif</string>
	<key>Sdotbelow</key>
	<string>Sdotbelow_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Tcedilla</key>
	<string>Tcedilla_.glif</string>
	<key>Tcommaaccent</key>
	<string>Tcommaaccent_.glif</string>
	<key>Tdotbelow</key>
	<string>Tdotbelow_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>Tlinebelow</key>
	<string>Tlinebelow_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ubreve</key>
	<string>Ubreve_.glif</string>
	<key>Ucaron</key>
	<string>Ucaron_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Udieresisacute</key>
	<string>Udieresisacute_.glif</string>
	<key>Udieresiscaron</key>
	<string>Udieresiscaron_.glif</string>
	<key>Udieresisgrave</key>
	<string>Udieresisgrave_.glif</string>
	<key>Udieresismacron</key>
	<string>Udieresismacron_.glif</string>
	<key>Udotbelow</key>
	<string>Udotbelow_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhook</key>
	<string>Uhook_.glif</string>
	<key>Uhorn</key>
	<string>Uhorn_.glif</string>
	<key>Uhornacute</key>
	<string>Uhornacute_.glif</string>
	<key>Uhorndotbelow</key>
	<string>Uhorndotbelow_.glif</string>
	<key>Uhorngrave</key>
	<string>Uhorngrave_.glif</string>
	<key>Uhornhook</key>
	<string>Uhornhook_.glif</string>
	<key>Uhorntilde</key>
	<string>Uhorntilde_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>Wacute_.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex_.glif</string>
	<key>Wdieresis</key>
	<string>Wdieresis_.glif</string>
	<key>Wgrave</key>
	<string>Wgrave_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ydotaccent</key>
	<string>Ydotaccent_.glif</string>
	<key>Ydotbelow</key>
	<string>Ydotbelow_.glif</string>
	<key>Ygrave</key>
	<string>Ygrave_.glif</string>
	<key>Yhookabove</key>
	<string>Yhookabove_.glif</string>
	<key>Ytilde</key>
	<string>Ytilde_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>Zdotbelow</key>
	<string>Zdotbelow_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>a.supa</key>
	<string>a.supa.glif</string>
	<key>a.sups</key>
	<string>a.sups.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.alt</key>
	<string>aacute.alt.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.alt</key>
	<string>abreve.alt.glif</string>
	<key>abreveacute</key>
	<string>abreveacute.glif</string>
	<key>abreveacute.alt</key>
	<string>abreveacute.alt.glif</string>
	<key>abrevedotbelow</key>
	<string>abrevedotbelow.glif</string>
	<key>abrevedotbelow.alt</key>
	<string>abrevedotbelow.alt.glif</string>
	<key>abrevegrave</key>
	<string>abrevegrave.glif</string>
	<key>abrevegrave.alt</key>
	<string>abrevegrave.alt.glif</string>
	<key>abrevehook</key>
	<string>abrevehook.glif</string>
	<key>abrevehook.alt</key>
	<string>abrevehook.alt.glif</string>
	<key>abrevetilde</key>
	<string>abrevetilde.glif</string>
	<key>abrevetilde.alt</key>
	<string>abrevetilde.alt.glif</string>
	<key>acaron</key>
	<string>acaron.glif</string>
	<key>acaron.alt</key>
	<string>acaron.alt.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.alt</key>
	<string>acircumflex.alt.glif</string>
	<key>acircumflexacute</key>
	<string>acircumflexacute.glif</string>
	<key>acircumflexacute.alt</key>
	<string>acircumflexacute.alt.glif</string>
	<key>acircumflexdotbelow</key>
	<string>acircumflexdotbelow.glif</string>
	<key>acircumflexdotbelow.alt</key>
	<string>acircumflexdotbelow.alt.glif</string>
	<key>acircumflexgrave</key>
	<string>acircumflexgrave.glif</string>
	<key>acircumflexgrave.alt</key>
	<string>acircumflexgrave.alt.glif</string>
	<key>acircumflexhook</key>
	<string>acircumflexhook.glif</string>
	<key>acircumflexhook.alt</key>
	<string>acircumflexhook.alt.glif</string>
	<key>acircumflextilde</key>
	<string>acircumflextilde.glif</string>
	<key>acircumflextilde.alt</key>
	<string>acircumflextilde.alt.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecmb</key>
	<string>acutecmb.glif</string>
	<key>acutecmb.cap</key>
	<string>acutecmb.cap.glif</string>
	<key>acutemod</key>
	<string>acutemod.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.alt</key>
	<string>adieresis.alt.glif</string>
	<key>adotbelow</key>
	<string>adotbelow.glif</string>
	<key>adotbelow.alt</key>
	<string>adotbelow.alt.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.alt</key>
	<string>agrave.alt.glif</string>
	<key>ahook</key>
	<string>ahook.glif</string>
	<key>ahook.alt</key>
	<string>ahook.alt.glif</string>
	<key>alphalatinturned</key>
	<string>alphalatinturned.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.alt</key>
	<string>amacron.alt.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.alt</key>
	<string>aogonek.alt.glif</string>
	<key>apostrophemod</key>
	<string>apostrophemod.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.alt</key>
	<string>aring.alt.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>ascript</key>
	<string>ascript.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.case</key>
	<string>at.case.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.alt</key>
	<string>atilde.alt.glif</string>
	<key>aturned</key>
	<string>aturned.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.sups</key>
	<string>b.sups.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>breveacute</key>
	<string>breveacute.glif</string>
	<key>breveacute.cap</key>
	<string>breveacute.cap.glif</string>
	<key>brevebelowcmb</key>
	<string>brevebelowcmb.glif</string>
	<key>brevecmb</key>
	<string>brevecmb.glif</string>
	<key>brevecmb.cap</key>
	<string>brevecmb.cap.glif</string>
	<key>brevegrave</key>
	<string>brevegrave.glif</string>
	<key>brevegrave.cap</key>
	<string>brevegrave.cap.glif</string>
	<key>brevehook</key>
	<string>brevehook.glif</string>
	<key>brevehook.cap</key>
	<string>brevehook.cap.glif</string>
	<key>brevetilde</key>
	<string>brevetilde.glif</string>
	<key>brevetilde.cap</key>
	<string>brevetilde.cap.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bstroke</key>
	<string>bstroke.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bulletoperator</key>
	<string>bulletoperator.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.sups</key>
	<string>c.sups.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.alt</key>
	<string>caron.alt.glif</string>
	<key>caroncmb</key>
	<string>caroncmb.glif</string>
	<key>caroncmb.cap</key>
	<string>caroncmb.cap.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedi</key>
	<string>cedi.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacmb</key>
	<string>cedillacmb.glif</string>
	<key>cedillacmb.cap</key>
	<string>cedillacmb.cap.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>check</key>
	<string>check.glif</string>
	<key>checkbox</key>
	<string>checkbox.glif</string>
	<key>checkedbox</key>
	<string>checkedbox.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexacute</key>
	<string>circumflexacute.glif</string>
	<key>circumflexacute.cap</key>
	<string>circumflexacute.cap.glif</string>
	<key>circumflexbreve</key>
	<string>circumflexbreve.glif</string>
	<key>circumflexbreve.cap</key>
	<string>circumflexbreve.cap.glif</string>
	<key>circumflexcmb</key>
	<string>circumflexcmb.glif</string>
	<key>circumflexcmb.cap</key>
	<string>circumflexcmb.cap.glif</string>
	<key>circumflexgrave</key>
	<string>circumflexgrave.glif</string>
	<key>circumflexgrave.cap</key>
	<string>circumflexgrave.cap.glif</string>
	<key>circumflexhook</key>
	<string>circumflexhook.glif</string>
	<key>circumflexhook.cap</key>
	<string>circumflexhook.cap.glif</string>
	<key>circumflextilde</key>
	<string>circumflextilde.glif</string>
	<key>circumflextilde.cap</key>
	<string>circumflextilde.cap.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colonmonetary</key>
	<string>colonmonetary.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.dnom</key>
	<string>comma.dnom.glif</string>
	<key>comma.numr</key>
	<string>comma.numr.glif</string>
	<key>comma.subs</key>
	<string>comma.subs.glif</string>
	<key>comma.sups</key>
	<string>comma.sups.glif</string>
	<key>commaabovecmb</key>
	<string>commaabovecmb.glif</string>
	<key>commabelowcmb</key>
	<string>commabelowcmb.glif</string>
	<key>commabelowcmb.alt</key>
	<string>commabelowcmb.alt.glif</string>
	<key>commaturnedabovecmb</key>
	<string>commaturnedabovecmb.glif</string>
	<key>commaturnedmod</key>
	<string>commaturnedmod.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.sups</key>
	<string>d.sups.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dblgravecmb</key>
	<string>dblgravecmb.glif</string>
	<key>dblgravecmb.cap</key>
	<string>dblgravecmb.cap.glif</string>
	<key>dblprime</key>
	<string>dblprime.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>ddotbelow</key>
	<string>ddotbelow.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>diamondblack</key>
	<string>diamondblack.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresisacute</key>
	<string>dieresisacute.glif</string>
	<key>dieresisacute.cap</key>
	<string>dieresisacute.cap.glif</string>
	<key>dieresisbelowcmb</key>
	<string>dieresisbelowcmb.glif</string>
	<key>dieresiscaron</key>
	<string>dieresiscaron.glif</string>
	<key>dieresiscaron.cap</key>
	<string>dieresiscaron.cap.glif</string>
	<key>dieresiscmb</key>
	<string>dieresiscmb.glif</string>
	<key>dieresiscmb.cap</key>
	<string>dieresiscmb.cap.glif</string>
	<key>dieresisgrave</key>
	<string>dieresisgrave.glif</string>
	<key>dieresisgrave.cap</key>
	<string>dieresisgrave.cap.glif</string>
	<key>dieresismacron</key>
	<string>dieresismacron.glif</string>
	<key>dieresismacron.cap</key>
	<string>dieresismacron.cap.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dlinebelow</key>
	<string>dlinebelow.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dong</key>
	<string>dong.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcmb</key>
	<string>dotaccentcmb.glif</string>
	<key>dotaccentcmb.cap</key>
	<string>dotaccentcmb.cap.glif</string>
	<key>dotbelowcmb</key>
	<string>dotbelowcmb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.sups</key>
	<string>e.sups.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacute.sups</key>
	<string>eacute.sups.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflexacute</key>
	<string>ecircumflexacute.glif</string>
	<key>ecircumflexdotbelow</key>
	<string>ecircumflexdotbelow.glif</string>
	<key>ecircumflexgrave</key>
	<string>ecircumflexgrave.glif</string>
	<key>ecircumflexhook</key>
	<string>ecircumflexhook.glif</string>
	<key>ecircumflextilde</key>
	<string>ecircumflextilde.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotbelow</key>
	<string>edotbelow.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>egrave.sups</key>
	<string>egrave.sups.glif</string>
	<key>ehook</key>
	<string>ehook.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>eight.onum</key>
	<string>eight.onum.glif</string>
	<key>eight.subs</key>
	<string>eight.subs.glif</string>
	<key>eight.sups</key>
	<string>eight.sups.glif</string>
	<key>eighthnote</key>
	<string>eighthnote.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>ereversed</key>
	<string>ereversed.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>etilde</key>
	<string>etilde.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.sups</key>
	<string>f.sups.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>figuredash</key>
	<string>figuredash.glif</string>
	<key>figurespace</key>
	<string>figurespace.glif</string>
	<key>fisheye</key>
	<string>fisheye.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>five.onum</key>
	<string>five.onum.glif</string>
	<key>five.subs</key>
	<string>five.subs.glif</string>
	<key>five.sups</key>
	<string>five.sups.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>four.onum</key>
	<string>four.onum.glif</string>
	<key>four.subs</key>
	<string>four.subs.glif</string>
	<key>four.sups</key>
	<string>four.sups.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>g.supa</key>
	<string>g.supa.glif</string>
	<key>g.sups</key>
	<string>g.sups.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.alt</key>
	<string>gbreve.alt.glif</string>
	<key>gcaron</key>
	<string>gcaron.glif</string>
	<key>gcaron.alt</key>
	<string>gcaron.alt.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcircumflex.alt</key>
	<string>gcircumflex.alt.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gcommaaccent.alt</key>
	<string>gcommaaccent.alt.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>gdotaccent.alt</key>
	<string>gdotaccent.alt.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gmacron</key>
	<string>gmacron.glif</string>
	<key>gmacron.alt</key>
	<string>gmacron.alt.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecmb</key>
	<string>gravecmb.glif</string>
	<key>gravecmb.cap</key>
	<string>gravecmb.cap.glif</string>
	<key>gravemod</key>
	<string>gravemod.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>gscript</key>
	<string>gscript.glif</string>
	<key>gtilde</key>
	<string>gtilde.glif</string>
	<key>gtilde.alt</key>
	<string>gtilde.alt.glif</string>
	<key>guarani</key>
	<string>guarani.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.sups</key>
	<string>h.sups.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hbrevebelow</key>
	<string>hbrevebelow.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hdotbelow</key>
	<string>hdotbelow.glif</string>
	<key>hookabovecmb</key>
	<string>hookabovecmb.glif</string>
	<key>hookabovecmb.cap</key>
	<string>hookabovecmb.cap.glif</string>
	<key>horizontalbar</key>
	<string>horizontalbar.glif</string>
	<key>horncmb</key>
	<string>horncmb.glif</string>
	<key>hturned</key>
	<string>hturned.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcmb</key>
	<string>hungarumlautcmb.glif</string>
	<key>hungarumlautcmb.cap</key>
	<string>hungarumlautcmb.cap.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.sups</key>
	<string>i.sups.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icaron</key>
	<string>icaron.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotbelow</key>
	<string>idotbelow.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ihook</key>
	<string>ihook.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>iogonek.d</key>
	<string>iogonek.d.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.sups</key>
	<string>j.sups.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.sups</key>
	<string>k.sups.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>kturned</key>
	<string>kturned.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.sups</key>
	<string>l.sups.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>ldotbelow</key>
	<string>ldotbelow.glif</string>
	<key>ldotbelowmacron</key>
	<string>ldotbelowmacron.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lira</key>
	<string>lira.glif</string>
	<key>liraturkish</key>
	<string>liraturkish.glif</string>
	<key>litre</key>
	<string>litre.glif</string>
	<key>llinebelow</key>
	<string>llinebelow.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.sups</key>
	<string>m.sups.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macronbelowcmb</key>
	<string>macronbelowcmb.glif</string>
	<key>macroncmb</key>
	<string>macroncmb.glif</string>
	<key>macroncmb.cap</key>
	<string>macroncmb.cap.glif</string>
	<key>macronmod</key>
	<string>macronmod.glif</string>
	<key>mdotbelow</key>
	<string>mdotbelow.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mturned</key>
	<string>mturned.glif</string>
	<key>mu.math</key>
	<string>mu.math.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.sups</key>
	<string>n.sups.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>naira</key>
	<string>naira.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nbspace.frac</key>
	<string>nbspace.frac.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>ndotaccent</key>
	<string>ndotaccent.glif</string>
	<key>ndotbelow</key>
	<string>ndotbelow.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>nine.onum</key>
	<string>nine.onum.glif</string>
	<key>nine.subs</key>
	<string>nine.subs.glif</string>
	<key>nine.sups</key>
	<string>nine.sups.glif</string>
	<key>nlinebelow</key>
	<string>nlinebelow.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.sups</key>
	<string>o.sups.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocaron</key>
	<string>ocaron.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflexacute</key>
	<string>ocircumflexacute.glif</string>
	<key>ocircumflexdotbelow</key>
	<string>ocircumflexdotbelow.glif</string>
	<key>ocircumflexgrave</key>
	<string>ocircumflexgrave.glif</string>
	<key>ocircumflexhook</key>
	<string>ocircumflexhook.glif</string>
	<key>ocircumflextilde</key>
	<string>ocircumflextilde.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odotbelow</key>
	<string>odotbelow.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcmb</key>
	<string>ogonekcmb.glif</string>
	<key>ogonekcmb.cap</key>
	<string>ogonekcmb.cap.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohook</key>
	<string>ohook.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>ohornacute</key>
	<string>ohornacute.glif</string>
	<key>ohorndotbelow</key>
	<string>ohorndotbelow.glif</string>
	<key>ohorngrave</key>
	<string>ohorngrave.glif</string>
	<key>ohornhook</key>
	<string>ohornhook.glif</string>
	<key>ohorntilde</key>
	<string>ohorntilde.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>one.onum</key>
	<string>one.onum.glif</string>
	<key>one.subs</key>
	<string>one.subs.glif</string>
	<key>one.sups</key>
	<string>one.sups.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onethird</key>
	<string>onethird.glif</string>
	<key>oogonek</key>
	<string>oogonek.glif</string>
	<key>oopen</key>
	<string>oopen.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordfeminine.alt</key>
	<string>ordfeminine.alt.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.sups</key>
	<string>p.sups.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.dnom</key>
	<string>parenleft.dnom.glif</string>
	<key>parenleft.numr</key>
	<string>parenleft.numr.glif</string>
	<key>parenleft.subs</key>
	<string>parenleft.subs.glif</string>
	<key>parenleft.sups</key>
	<string>parenleft.sups.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.dnom</key>
	<string>parenright.dnom.glif</string>
	<key>parenright.numr</key>
	<string>parenright.numr.glif</string>
	<key>parenright.subs</key>
	<string>parenright.subs.glif</string>
	<key>parenright.sups</key>
	<string>parenright.sups.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.dnom</key>
	<string>period.dnom.glif</string>
	<key>period.numr</key>
	<string>period.numr.glif</string>
	<key>period.subs</key>
	<string>period.subs.glif</string>
	<key>period.sups</key>
	<string>period.sups.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>peseta</key>
	<string>peseta.glif</string>
	<key>peso</key>
	<string>peso.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>prime</key>
	<string>prime.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.sups</key>
	<string>q.sups.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.sups</key>
	<string>r.sups.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>rdotbelow</key>
	<string>rdotbelow.glif</string>
	<key>rdotbelowmacron</key>
	<string>rdotbelowmacron.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcmb</key>
	<string>ringcmb.glif</string>
	<key>ringcmb.cap</key>
	<string>ringcmb.cap.glif</string>
	<key>ringhalfleftmod</key>
	<string>ringhalfleftmod.glif</string>
	<key>ringhalfrightmod</key>
	<string>ringhalfrightmod.glif</string>
	<key>rlinebelow</key>
	<string>rlinebelow.glif</string>
	<key>rturned</key>
	<string>rturned.glif</string>
	<key>rupeeindian</key>
	<string>rupeeindian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.sups</key>
	<string>s.sups.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>schwa</key>
	<string>schwa.glif</string>
	<key>schwa.sups</key>
	<string>schwa.sups.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>sdotaccent</key>
	<string>sdotaccent.glif</string>
	<key>sdotbelow</key>
	<string>sdotbelow.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>servicemark</key>
	<string>servicemark.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>seven.onum</key>
	<string>seven.onum.glif</string>
	<key>seven.subs</key>
	<string>seven.subs.glif</string>
	<key>seven.sups</key>
	<string>seven.sups.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>sfthyphen</key>
	<string>sfthyphen.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>six.onum</key>
	<string>six.onum.glif</string>
	<key>six.subs</key>
	<string>six.subs.glif</string>
	<key>six.sups</key>
	<string>six.sups.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slash.frac</key>
	<string>slash.frac.glif</string>
	<key>soundcopyright</key>
	<string>soundcopyright.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>space.frac</key>
	<string>space.frac.glif</string>
	<key>squareblack</key>
	<string>squareblack.glif</string>
	<key>squareshadow</key>
	<string>squareshadow.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.sups</key>
	<string>t.sups.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>tdieresis</key>
	<string>tdieresis.glif</string>
	<key>tdotbelow</key>
	<string>tdotbelow.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>three.onum</key>
	<string>three.onum.glif</string>
	<key>three.subs</key>
	<string>three.subs.glif</string>
	<key>three.sups</key>
	<string>three.sups.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecmb</key>
	<string>tildecmb.glif</string>
	<key>tildecmb.cap</key>
	<string>tildecmb.cap.glif</string>
	<key>tlinebelow</key>
	<string>tlinebelow.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>triangleblackdown</key>
	<string>triangleblackdown.glif</string>
	<key>triangleblackleft</key>
	<string>triangleblackleft.glif</string>
	<key>triangleblackright</key>
	<string>triangleblackright.glif</string>
	<key>triangleblackup</key>
	<string>triangleblackup.glif</string>
	<key>trianglewhitedown</key>
	<string>trianglewhitedown.glif</string>
	<key>trianglewhiteleft</key>
	<string>trianglewhiteleft.glif</string>
	<key>trianglewhiteright</key>
	<string>trianglewhiteright.glif</string>
	<key>trianglewhiteup</key>
	<string>trianglewhiteup.glif</string>
	<key>tturned</key>
	<string>tturned.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>two.onum</key>
	<string>two.onum.glif</string>
	<key>two.subs</key>
	<string>two.subs.glif</string>
	<key>two.sups</key>
	<string>two.sups.glif</string>
	<key>twothirds</key>
	<string>twothirds.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.sups</key>
	<string>u.sups.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucaron</key>
	<string>ucaron.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresisacute</key>
	<string>udieresisacute.glif</string>
	<key>udieresiscaron</key>
	<string>udieresiscaron.glif</string>
	<key>udieresisgrave</key>
	<string>udieresisgrave.glif</string>
	<key>udieresismacron</key>
	<string>udieresismacron.glif</string>
	<key>udotbelow</key>
	<string>udotbelow.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhook</key>
	<string>uhook.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>uhornacute</key>
	<string>uhornacute.glif</string>
	<key>uhorndotbelow</key>
	<string>uhorndotbelow.glif</string>
	<key>uhorngrave</key>
	<string>uhorngrave.glif</string>
	<key>uhornhook</key>
	<string>uhornhook.glif</string>
	<key>uhorntilde</key>
	<string>uhorntilde.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.sups</key>
	<string>v.sups.glif</string>
	<key>verticallinelowmod</key>
	<string>verticallinelowmod.glif</string>
	<key>verticallinemod</key>
	<string>verticallinemod.glif</string>
	<key>vturned</key>
	<string>vturned.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.sups</key>
	<string>w.sups.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>wturned</key>
	<string>wturned.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.sups</key>
	<string>x.sups.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.sups</key>
	<string>y.sups.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydotaccent</key>
	<string>ydotaccent.glif</string>
	<key>ydotbelow</key>
	<string>ydotbelow.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>yhookabove</key>
	<string>yhookabove.glif</string>
	<key>ytilde</key>
	<string>ytilde.glif</string>
	<key>yturned</key>
	<string>yturned.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.sups</key>
	<string>z.sups.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zdotbelow</key>
	<string>zdotbelow.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zero.onum</key>
	<string>zero.onum.glif</string>
	<key>zero.subs</key>
	<string>zero.subs.glif</string>
	<key>zero.sups</key>
	<string>zero.sups.glif</string>
</dict>
</plist>
