<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>750</integer>
	<key>copyright</key>
	<string>Source is a trademark of Adobe Systems Incorporated in the United States and/or other countries.</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Source Code Pro</string>
	<key>italicAngle</key>
	<integer>0</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.0625</real>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>500</integer>
		<integer>512</integer>
		<integer>580</integer>
		<integer>592</integer>
		<integer>634</integer>
		<integer>646</integer>
		<integer>650</integer>
		<integer>662</integer>
		<integer>696</integer>
		<integer>708</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>486</integer>
		<integer>498</integer>
		<integer>574</integer>
		<integer>586</integer>
		<integer>638</integer>
		<integer>650</integer>
		<integer>656</integer>
		<integer>668</integer>
		<integer>712</integer>
		<integer>724</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-217</integer>
		<integer>-205</integer>
	</array>
	<key>postscriptFontName</key>
	<string>SourceCodePro-M1</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Source Code Pro M1</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-188</integer>
		<integer>-176</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>134</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>172</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptWeightName</key>
	<string>Black</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
