<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>706</integer>
		<key>capHeight</key>
		<integer>654</integer>
		<key>copyright</key>
		<string>© 2023 Adobe. All rights reserved, with Reserved Font Name 'Source'.</string>
		<key>descender</key>
		<integer>-194</integer>
		<key>familyName</key>
		<string>Source Code Pro</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>openTypeNameDesigner</key>
		<string>Paul D. Hunt</string>
		<key>openTypeNameLicense</key>
		<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL. This Font Software is distributed on an 'AS IS' BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
		<key>openTypeNameLicenseURL</key>
		<string>http://scripts.sil.org/OFL</string>
		<key>openTypeNameManufacturer</key>
		<string>Adobe</string>
		<key>openTypeNameManufacturerURL</key>
		<string>http://www.adobe.com/type</string>
		<key>openTypeOS2VendorID</key>
		<string>ADBO</string>
		<key>openTypeOS2WeightClass</key>
		<integer>457</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>postscriptBlueFuzz</key>
		<integer>0</integer>
		<key>postscriptBlueScale</key>
		<real>0.0625</real>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-12</integer>
			<integer>0</integer>
			<integer>491</integer>
			<integer>503</integer>
			<integer>576</integer>
			<integer>588</integer>
			<integer>637</integer>
			<integer>649</integer>
			<integer>654</integer>
			<integer>666</integer>
			<integer>706</integer>
			<integer>718</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
			<integer>-12</integer>
			<integer>0</integer>
			<integer>486</integer>
			<integer>498</integer>
			<integer>574</integer>
			<integer>586</integer>
			<integer>638</integer>
			<integer>650</integer>
			<integer>656</integer>
			<integer>668</integer>
			<integer>712</integer>
			<integer>724</integer>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
			<integer>-217</integer>
			<integer>-205</integer>
		</array>
		<key>postscriptFontName</key>
		<string>SourceCodePro-Semibold</string>
		<key>postscriptIsFixedPitch</key>
		<true/>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-206</integer>
			<integer>-194</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>92</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>117</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-75</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>postscriptWeightName</key>
		<string>Medium</string>
		<key>styleName</key>
		<string>Semibold</string>
		<key>trademark</key>
		<string>Source is a trademark of Adobe in the United States and/or other countries.</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>2</integer>
		<key>versionMinor</key>
		<integer>42</integer>
		<key>xHeight</key>
		<integer>491</integer>
	</dict>
</plist>
