<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>B</string>
			<string>D</string>
			<string>H</string>
			<string>M</string>
			<string>N</string>
			<string>T</string>
			<string>W</string>
			<string>e</string>
			<string>l</string>
			<string>m</string>
			<string>t</string>
			<string>w</string>
			<string>Bstroke</string>
			<string>Dhook</string>
			<string>Hbar</string>
			<string>Oslash</string>
			<string>Tbar</string>
			<string>Eth</string>
			<string>Lcat</string>
			<string>ae</string>
			<string>bstroke</string>
			<string>dcroat</string>
			<string>eogonek</string>
			<string>hbar</string>
			<string>dotlessi</string>
			<string>oslash</string>
			<string>oe</string>
			<string>tbar</string>
			<string>eth</string>
			<string>dotlessj</string>
			<string>lcat</string>
			<string>ereversed</string>
			<string>schwa</string>
			<string>eopen</string>
			<string>eopenreversed</string>
			<string>eopenreversedclosed</string>
			<string>dotlessjstroke</string>
			<string>lbelt</string>
			<string>mlonglegturned</string>
			<string>mhook</string>
			<string>obar</string>
			<string>oesmall</string>
			<string>philatin</string>
			<string>esh</string>
			<string>dotlessjstrokehook</string>
			<string>ubar</string>
			<string>zcurl</string>
			<string>dezh</string>
			<string>glottalstopstroke</string>
			<string>glottalstopstrokereversed</string>
			<string>clickalveolar</string>
			<string>Eng.a</string>
			<string>g.a</string>
			<string>istroke.d</string>
			<string>numero</string>
		</array>
	</dict>
</plist>
