<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>B</string>
			<string>D</string>
			<string>H</string>
			<string>M</string>
			<string>N</string>
			<string>T</string>
			<string>W</string>
			<string>e</string>
			<string>l</string>
			<string>m</string>
			<string>t</string>
			<string>w</string>
			<string>Bstroke</string>
			<string>Dhook</string>
			<string>Hbar</string>
			<string>Oslash</string>
			<string>Tbar</string>
			<string>Eth</string>
			<string>Lcat</string>
			<string>ae</string>
			<string>bstroke</string>
			<string>dcroat</string>
			<string>eogonek</string>
			<string>hbar</string>
			<string>dotlessi</string>
			<string>oslash</string>
			<string>oe</string>
			<string>tbar</string>
			<string>eth</string>
			<string>dotlessj</string>
			<string>lcat</string>
			<string>ereversed</string>
			<string>schwa</string>
			<string>eopen</string>
			<string>eopenreversed</string>
			<string>eopenreversedclosed</string>
			<string>dotlessjstroke</string>
			<string>lbelt</string>
			<string>mlonglegturned</string>
			<string>mhook</string>
			<string>obar</string>
			<string>oesmall</string>
			<string>philatin</string>
			<string>esh</string>
			<string>dotlessjstrokehook</string>
			<string>ubar</string>
			<string>zcurl</string>
			<string>dezh</string>
			<string>glottalstopstroke</string>
			<string>glottalstopstrokereversed</string>
			<string>clickalveolar</string>
			<string>Eng.a</string>
			<string>g.a</string>
			<string>istroke.d</string>
			<string>numero</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
			<key>Bstroke</key>
			<string>uni0243</string>
			<key>Dhook</key>
			<string>uni018A</string>
			<key>Eng.a</key>
			<string>uni014A.a</string>
			<key>Lcat</key>
			<string>uni004C00B7004C</string>
			<key>bstroke</key>
			<string>uni0180</string>
			<key>clickalveolar</key>
			<string>uni01C2</string>
			<key>dezh</key>
			<string>uni02A4</string>
			<key>dotlessj</key>
			<string>uni0237</string>
			<key>dotlessjstroke</key>
			<string>uni025F</string>
			<key>dotlessjstrokehook</key>
			<string>uni0284</string>
			<key>eopen</key>
			<string>uni025B</string>
			<key>eopenreversed</key>
			<string>uni025C</string>
			<key>eopenreversedclosed</key>
			<string>uni025E</string>
			<key>ereversed</key>
			<string>uni0258</string>
			<key>esh</key>
			<string>uni0283</string>
			<key>glottalstopstroke</key>
			<string>uni02A1</string>
			<key>glottalstopstrokereversed</key>
			<string>uni02A2</string>
			<key>istroke.d</key>
			<string>uni0268.d</string>
			<key>lbelt</key>
			<string>uni026C</string>
			<key>lcat</key>
			<string>uni006C00B7006C</string>
			<key>mhook</key>
			<string>uni0271</string>
			<key>mlonglegturned</key>
			<string>uni0270</string>
			<key>numero</key>
			<string>uni2116</string>
			<key>obar</key>
			<string>uni0275</string>
			<key>oesmall</key>
			<string>uni0276</string>
			<key>philatin</key>
			<string>uni0278</string>
			<key>schwa</key>
			<string>uni0259</string>
			<key>ubar</key>
			<string>uni0289</string>
			<key>zcurl</key>
			<string>uni0291</string>
		</dict>
	</dict>
</plist>
