<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.sort</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>B</string>
					<string>D</string>
					<string>H</string>
					<string>M</string>
					<string>N</string>
					<string>O</string>
					<string>T</string>
					<string>W</string>
					<string>Y</string>
					<string>e</string>
					<string>g</string>
					<string>l</string>
					<string>m</string>
					<string>t</string>
					<string>w</string>
					<string>Bstroke</string>
					<string>Hbar</string>
					<string>Oslash</string>
					<string>Tbar</string>
					<string>Eth</string>
					<string>Lcat</string>
					<string>ae</string>
					<string>bstroke</string>
					<string>dcroat</string>
					<string>eogonek</string>
					<string>hbar</string>
					<string>dotlessi</string>
					<string>oslash</string>
					<string>oe</string>
					<string>tbar</string>
					<string>eth</string>
					<string>dotlessj</string>
					<string>lcat</string>
					<string>ereversed</string>
					<string>schwa</string>
					<string>eopen</string>
					<string>eopenreversedclosed</string>
					<string>dotlessjstroke</string>
					<string>lbelt</string>
					<string>mlonglegturned</string>
					<string>mhook</string>
					<string>nsmall</string>
					<string>obar</string>
					<string>oesmall</string>
					<string>philatin</string>
					<string>rsmall</string>
					<string>esh</string>
					<string>dotlessjstrokehook</string>
					<string>ubar</string>
					<string>zcurl</string>
					<string>dezh</string>
					<string>glottalstopstroke</string>
					<string>glottalstopstrokereversed</string>
					<string>clickalveolar</string>
					<string>Eng.a</string>
					<string>dotlessi.a</string>
					<string>istroke.d</string>
					<string>istroke.da</string>
					<string>Phi</string>
					<string>Psi</string>
					<string>epsilon</string>
					<string>xi</string>
					<string>phi</string>
					<string>psi</string>
					<string>omega</string>
					<string>phi.a</string>
					<string>Be</string>
					<string>Zhe</string>
					<string>Icyr</string>
					<string>Ef</string>
					<string>Sha</string>
					<string>Shcha</string>
					<string>Yu</string>
					<string>Lje</string>
					<string>Nje</string>
					<string>Ghestroke</string>
					<string>Ustraight</string>
					<string>Ustraightstroke</string>
					<string>ve</string>
					<string>zhe</string>
					<string>ze</string>
					<string>icyr</string>
					<string>em</string>
					<string>ef</string>
					<string>sha</string>
					<string>shcha</string>
					<string>ecyr</string>
					<string>yu</string>
					<string>ya</string>
					<string>dje</string>
					<string>ieukran</string>
					<string>lje</string>
					<string>nje</string>
					<string>ghestroke</string>
					<string>ustraight</string>
					<string>ustraightstroke</string>
					<string>numero</string>
					<string>zero.0</string>
					<string>zero.0o</string>
					<string>zero.0c</string>
					<string>e.sups</string>
					<string>schwa.sups</string>
					<string>colonmonetary</string>
					<string>naira</string>
					<string>won</string>
					<string>peso</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0a1
1463010785.0 fontinfo.plist
1463010785.0 glyphs/B_.glif
1463010785.0 glyphs/B_e.glif
1463010785.0 glyphs/B_stroke.glif
1463010785.0 glyphs/D_.glif
1463010785.0 glyphs/D_hook.glif
1463010785.0 glyphs/E_f.glif
1463010785.0 glyphs/E_ng.a.glif
1463010785.0 glyphs/E_th.glif
1463010785.0 glyphs/G_hestroke.glif
1463010785.0 glyphs/H_.glif
1463010785.0 glyphs/H_bar.glif
1463010785.0 glyphs/I_cyr.glif
1463010785.0 glyphs/L_cat.glif
1463010785.0 glyphs/L_je.glif
1463010785.0 glyphs/M_.glif
1463010785.0 glyphs/N_.glif
1463010785.0 glyphs/N_je.glif
1463010785.0 glyphs/O_.glif
1463010785.0 glyphs/O_slash.glif
1463010785.0 glyphs/P_hi.glif
1463010785.0 glyphs/P_si.glif
1463010785.0 glyphs/S_ha.glif
1463010785.0 glyphs/S_hcha.glif
1463010785.0 glyphs/T_.glif
1463010785.0 glyphs/T_bar.glif
1463010785.0 glyphs/U_straight.glif
1463010785.0 glyphs/U_straightstroke.glif
1463010785.0 glyphs/W_.glif
1463010785.0 glyphs/Y_.glif
1463010785.0 glyphs/Y_u.glif
1464153969.0 glyphs/Z_he.glif
1463010785.0 glyphs/ae.glif
1463010785.0 glyphs/bstroke.glif
1463010785.0 glyphs/clickalveolar.glif
1463010785.0 glyphs/colonmonetary.glif
1463010785.0 glyphs/dcroat.glif
1463010785.0 glyphs/dezh.glif
1463010785.0 glyphs/dje.glif
1463010785.0 glyphs/dotlessi.a.glif
1463010785.0 glyphs/dotlessi.glif
1463010785.0 glyphs/dotlessj.glif
1463010785.0 glyphs/dotlessjstroke.glif
1463010785.0 glyphs/dotlessjstrokehook.glif
1463010785.0 glyphs/e.glif
1463010785.0 glyphs/e.sups.glif
1463010785.0 glyphs/ecyr.glif
1464153969.0 glyphs/ef.glif
1463010785.0 glyphs/em.glif
1463010785.0 glyphs/eogonek.glif
1463010785.0 glyphs/eogonek.sups.glif
1463010785.0 glyphs/eopen.glif
1463010785.0 glyphs/eopenreversedclosed.glif
1463010785.0 glyphs/epsilon.glif
1463010785.0 glyphs/ereversed.glif
1463010785.0 glyphs/esh.glif
1463010785.0 glyphs/eth.glif
1463010785.0 glyphs/g.glif
1463010785.0 glyphs/ghestroke.glif
1463010785.0 glyphs/glottalstopstroke.glif
1463010785.0 glyphs/glottalstopstrokereversed.glif
1463010785.0 glyphs/hbar.glif
1463010785.0 glyphs/icyr.glif
1463010785.0 glyphs/ieukran.glif
1463010785.0 glyphs/istroke.d.glif
1463010785.0 glyphs/istroke.da.glif
1463010785.0 glyphs/l.glif
1463010785.0 glyphs/lbelt.glif
1463010785.0 glyphs/lcat.glif
1463010785.0 glyphs/lje.glif
1463010785.0 glyphs/m.glif
1463010785.0 glyphs/mhook.glif
1463010785.0 glyphs/mlonglegturned.glif
1463010785.0 glyphs/naira.glif
1463010785.0 glyphs/nje.glif
1463010785.0 glyphs/nsmall.glif
1463010785.0 glyphs/numero.glif
1463010785.0 glyphs/obar.glif
1463010785.0 glyphs/oe.glif
1463010785.0 glyphs/oesmall.glif
1463010785.0 glyphs/omega.glif
1463010785.0 glyphs/oslash.glif
1463010785.0 glyphs/peso.glif
1463010785.0 glyphs/phi.a.glif
1463010785.0 glyphs/phi.glif
1463010785.0 glyphs/philatin.glif
1463010785.0 glyphs/psi.glif
1463010785.0 glyphs/rsmall.glif
1463010785.0 glyphs/schwa.glif
1463010785.0 glyphs/schwa.sups.glif
1463010785.0 glyphs/sha.glif
1463010785.0 glyphs/shcha.glif
1463010785.0 glyphs/t.glif
1464153969.0 glyphs/tbar.glif
1463010785.0 glyphs/ubar.glif
1463010785.0 glyphs/ustraight.glif
1463010785.0 glyphs/ustraightstroke.glif
1463010785.0 glyphs/ve.glif
1463010785.0 glyphs/w.glif
1463010785.0 glyphs/won.glif
1463010785.0 glyphs/xi.glif
1463010785.0 glyphs/ya.glif
1463010785.0 glyphs/yu.glif
1463010785.0 glyphs/zcurl.glif
1463010785.0 glyphs/ze.glif
1463010785.0 glyphs/zero.0.glif
1463010785.0 glyphs/zero.0c.glif
1463010785.0 glyphs/zero.0o.glif
1463010785.0 glyphs/zhe.glif
1464153969.0 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>B</string>
			<string>D</string>
			<string>H</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>T</string>
			<string>W</string>
			<string>Y</string>
			<string>e</string>
			<string>g</string>
			<string>l</string>
			<string>m</string>
			<string>t</string>
			<string>w</string>
			<string>Bstroke</string>
			<string>Hbar</string>
			<string>Oslash</string>
			<string>Tbar</string>
			<string>Eth</string>
			<string>Lcat</string>
			<string>ae</string>
			<string>bstroke</string>
			<string>dcroat</string>
			<string>eogonek</string>
			<string>hbar</string>
			<string>dotlessi</string>
			<string>oslash</string>
			<string>oe</string>
			<string>tbar</string>
			<string>eth</string>
			<string>dotlessj</string>
			<string>lcat</string>
			<string>ereversed</string>
			<string>schwa</string>
			<string>eopen</string>
			<string>eopenreversedclosed</string>
			<string>dotlessjstroke</string>
			<string>lbelt</string>
			<string>mlonglegturned</string>
			<string>mhook</string>
			<string>nsmall</string>
			<string>obar</string>
			<string>oesmall</string>
			<string>philatin</string>
			<string>rsmall</string>
			<string>esh</string>
			<string>dotlessjstrokehook</string>
			<string>ubar</string>
			<string>zcurl</string>
			<string>dezh</string>
			<string>glottalstopstroke</string>
			<string>glottalstopstrokereversed</string>
			<string>clickalveolar</string>
			<string>Eng.a</string>
			<string>dotlessi.a</string>
			<string>istroke.d</string>
			<string>istroke.da</string>
			<string>Phi</string>
			<string>Psi</string>
			<string>epsilon</string>
			<string>xi</string>
			<string>phi</string>
			<string>psi</string>
			<string>omega</string>
			<string>phi.a</string>
			<string>Be</string>
			<string>Zhe</string>
			<string>Icyr</string>
			<string>Ef</string>
			<string>Sha</string>
			<string>Shcha</string>
			<string>Yu</string>
			<string>Lje</string>
			<string>Nje</string>
			<string>Ghestroke</string>
			<string>Ustraight</string>
			<string>Ustraightstroke</string>
			<string>ve</string>
			<string>zhe</string>
			<string>ze</string>
			<string>icyr</string>
			<string>em</string>
			<string>ef</string>
			<string>sha</string>
			<string>shcha</string>
			<string>ecyr</string>
			<string>yu</string>
			<string>ya</string>
			<string>dje</string>
			<string>ieukran</string>
			<string>lje</string>
			<string>nje</string>
			<string>ghestroke</string>
			<string>ustraight</string>
			<string>ustraightstroke</string>
			<string>numero</string>
			<string>zero.0</string>
			<string>zero.0o</string>
			<string>zero.0c</string>
			<string>e.sups</string>
			<string>schwa.sups</string>
			<string>colonmonetary</string>
			<string>naira</string>
			<string>won</string>
			<string>peso</string>
			<string>Dhook</string>
			<string>eogonek.sups</string>
		</array>
	</dict>
</plist>