<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMBINING_MARKS</key>
	<array>
		<string>gravecmb</string>
		<string>gravecmb.cap</string>
		<string>acutecmb</string>
		<string>acutecmb.cap</string>
		<string>circumflexcmb</string>
		<string>circumflexcmb.cap</string>
		<string>tildecmb</string>
		<string>tildecmb.cap</string>
		<string>macroncmb</string>
		<string>macroncmb.cap</string>
		<string>brevecmb</string>
		<string>brevecmb.cap</string>
		<string>dotaccentcmb</string>
		<string>dotaccentcmb.cap</string>
		<string>dieresiscmb</string>
		<string>dieresiscmb.cap</string>
		<string>hookabovecmb</string>
		<string>hookabovecmb.cap</string>
		<string>ringcmb</string>
		<string>ringcmb.cap</string>
		<string>hungarumlautcmb</string>
		<string>hungarumlautcmb.cap</string>
		<string>caroncmb</string>
		<string>caroncmb.cap</string>
		<string>dblgravecmb</string>
		<string>dblgravecmb.cap</string>
		<string>commaturnedabovecmb</string>
		<string>commaabovecmb</string>
		<string>horncmb</string>
		<string>dotbelowcmb</string>
		<string>dieresisbelowcmb</string>
		<string>commabelowcmb</string>
		<string>cedillacmb</string>
		<string>cedillacmb.cap</string>
		<string>ogonekcmb</string>
		<string>ogonekcmb.cap</string>
		<string>brevebelowcmb</string>
		<string>macronbelowcmb</string>
		<string>dieresismacron</string>
		<string>dieresismacron.cap</string>
		<string>dieresisacute</string>
		<string>dieresisacute.cap</string>
		<string>dieresiscaron</string>
		<string>dieresiscaron.cap</string>
		<string>dieresisgrave</string>
		<string>dieresisgrave.cap</string>
		<string>circumflexacute</string>
		<string>circumflexacute.cap</string>
		<string>circumflexgrave</string>
		<string>circumflexgrave.cap</string>
		<string>circumflexhook</string>
		<string>circumflexhook.cap</string>
		<string>circumflextilde</string>
		<string>circumflextilde.cap</string>
		<string>breveacute</string>
		<string>breveacute.cap</string>
		<string>brevegrave</string>
		<string>brevegrave.cap</string>
		<string>brevehook</string>
		<string>brevehook.cap</string>
		<string>brevetilde</string>
		<string>brevetilde.cap</string>
		<string>caron.alt</string>
		<string>commabelowcmb.alt</string>
		<string>circumflexbreve</string>
		<string>circumflexbreve.cap</string>
	</array>
</dict>
</plist>
