<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>Bstroke</key>
		<string>B_stroke.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Dhook</key>
		<string>D_hook.glif</string>
		<key>Eng.a</key>
		<string>E_ng.a.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Hbar</key>
		<string>H_bar.glif</string>
		<key>Lcat</key>
		<string>L_cat.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Tbar</key>
		<string>T_bar.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>bstroke</key>
		<string>bstroke.glif</string>
		<key>clickalveolar</key>
		<string>clickalveolar.glif</string>
		<key>dcroat</key>
		<string>dcroat.glif</string>
		<key>dezh</key>
		<string>dezh.glif</string>
		<key>dotlessi</key>
		<string>dotlessi.glif</string>
		<key>dotlessj</key>
		<string>dotlessj.glif</string>
		<key>dotlessjstroke</key>
		<string>dotlessjstroke.glif</string>
		<key>dotlessjstrokehook</key>
		<string>dotlessjstrokehook.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>eopen</key>
		<string>eopen.glif</string>
		<key>eopenreversed</key>
		<string>eopenreversed.glif</string>
		<key>eopenreversedclosed</key>
		<string>eopenreversedclosed.glif</string>
		<key>ereversed</key>
		<string>ereversed.glif</string>
		<key>esh</key>
		<string>esh.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>g.a</key>
		<string>g.a.glif</string>
		<key>glottalstopstroke</key>
		<string>glottalstopstroke.glif</string>
		<key>glottalstopstrokereversed</key>
		<string>glottalstopstrokereversed.glif</string>
		<key>hbar</key>
		<string>hbar.glif</string>
		<key>istroke.d</key>
		<string>istroke.d.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>lbelt</key>
		<string>lbelt.glif</string>
		<key>lcat</key>
		<string>lcat.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>mhook</key>
		<string>mhook.glif</string>
		<key>mlonglegturned</key>
		<string>mlonglegturned.glif</string>
		<key>numero</key>
		<string>numero.glif</string>
		<key>obar</key>
		<string>obar.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>oesmall</key>
		<string>oesmall.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>philatin</key>
		<string>philatin.glif</string>
		<key>schwa</key>
		<string>schwa.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>tbar</key>
		<string>tbar.glif</string>
		<key>ubar</key>
		<string>ubar.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>zcurl</key>
		<string>zcurl.glif</string>
	</dict>
</plist>
