<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>COMBINING_MARKS</key>
		<array>
			<string>gravecmb</string>
			<string>gravecmb.cap</string>
			<string>variacmb</string>
			<string>acutecmb</string>
			<string>acutecmb.cap</string>
			<string>tonoscmb</string>
			<string>circumflexcmb</string>
			<string>circumflexcmb.cap</string>
			<string>tildecmb</string>
			<string>tildecmb.cap</string>
			<string>macroncmb</string>
			<string>macroncmb.cap</string>
			<string>overlinecmb</string>
			<string>overlinecmb.cap</string>
			<string>brevecmb</string>
			<string>brevecmb.cyr</string>
			<string>brevecmb.cap</string>
			<string>brevecmb.cyrcap</string>
			<string>dotaccentcmb</string>
			<string>dotaccentcmb.cap</string>
			<string>dieresiscmb</string>
			<string>dieresiscmb.cap</string>
			<string>hoicmb</string>
			<string>hoicmb.cap</string>
			<string>candrabinducmb</string>
			<string>candrabinducmb.cap</string>
			<string>ringcmb</string>
			<string>ringcmb.cap</string>
			<string>hungarumlautcmb</string>
			<string>hungarumlautcmb.cap</string>
			<string>caroncmb</string>
			<string>caroncmb.cap</string>
			<string>dblgravecmb</string>
			<string>dblgravecmb.cap</string>
			<string>breveinvertedcmb</string>
			<string>breveinvertedcmb.cap</string>
			<string>commaturnedabovecmb</string>
			<string>aspercmb</string>
			<string>commaabovecmb</string>
			<string>leniscmb</string>
			<string>lefttackbelowcmb</string>
			<string>righttackbelowcmb</string>
			<string>leftangleabovecmb</string>
			<string>horncmb</string>
			<string>ringhalfleftbelowcmb</string>
			<string>uptackbelowcmb</string>
			<string>downtackbelowcmb</string>
			<string>plusbelowcmb</string>
			<string>minusbelowcmb</string>
			<string>dotbelowcmb</string>
			<string>dieresisbelowcmb</string>
			<string>ringbelowcmb</string>
			<string>commabelowcmb</string>
			<string>commabelowcmb.a</string>
			<string>cedillacmb</string>
			<string>cedillacmb.cap</string>
			<string>ogonekcmb</string>
			<string>ogonekcmb.cap</string>
			<string>verticallinebelowcmb</string>
			<string>bridgebelowcmb</string>
			<string>caronbelowcmb</string>
			<string>brevebelowcmb</string>
			<string>breveinvertedbelowcmb</string>
			<string>tildebelowcmb</string>
			<string>macronbelowcmb</string>
			<string>tildeoverlaycmb</string>
			<string>ringhalfrightbelowcmb</string>
			<string>bridgeinvertedbelowcmb</string>
			<string>squarebelowcmb</string>
			<string>seagullbelowcmb</string>
			<string>xabovecmb</string>
			<string>perispomenicmb</string>
			<string>perispomenicmb.cap</string>
			<string>iotasubscriptcmb</string>
			<string>dieresisacutecmb</string>
			<string>dieresisacutecmb.cap</string>
			<string>dieresistonoscmb</string>
			<string>dieresisgravecmb</string>
			<string>dieresisgravecmb.cap</string>
			<string>dialytikagravecmb</string>
			<string>dieresistildecmb</string>
			<string>dieresismacroncmb</string>
			<string>dieresismacroncmb.cap</string>
			<string>dieresiscaroncmb</string>
			<string>dieresiscaroncmb.cap</string>
			<string>circumflexacutecmb</string>
			<string>circumflexacutecmb.cap</string>
			<string>circumflexgravecmb</string>
			<string>circumflexgravecmb.cap</string>
			<string>circumflexhoicmb</string>
			<string>circumflexhoicmb.cap</string>
			<string>circumflextildecmb</string>
			<string>circumflextildecmb.cap</string>
			<string>breveacutecmb</string>
			<string>breveacutecmb.cap</string>
			<string>brevegravecmb</string>
			<string>brevegravecmb.cap</string>
			<string>brevehoicmb</string>
			<string>brevehoicmb.cap</string>
			<string>brevetildecmb</string>
			<string>brevetildecmb.cap</string>
			<string>circumflexbrevecmb</string>
			<string>circumflexbrevecmb.cap</string>
			<string>macronacutecmb</string>
			<string>macronacutecmb.cap</string>
			<string>carondotaccentcmb</string>
			<string>carondotaccentcmb.cap</string>
			<string>asperacutecmb</string>
			<string>aspergravecmb</string>
			<string>aspertildecmb</string>
			<string>lenisacutecmb</string>
			<string>lenisgravecmb</string>
			<string>lenistildecmb</string>
		</array>
	</dict>
</plist>