@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-ExtraLight.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-ExtraLightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-Light.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-LightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-It.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-It.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-Medium.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-Medium.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-MediumIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-MediumIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-Semibold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-SemiboldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-SemiboldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-BoldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-Black.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceCodePro-BlackIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceCodePro-BlackIt.otf.woff') format('woff');
}

@supports (font-variation-settings:normal) {
    @font-face{
        font-family: 'Source Code Pro VF';
        font-weight: 200 900;
        font-style: normal;
        font-stretch: normal;
        src: url('WOFF2/SourceCodeVariable-Upright.otf.woff2') format('woff2-variations'),
             url('WOFF2/SourceCodeVariable-Upright.ttf.woff2') format('woff2-variations');
    }
    @font-face{
        font-family: 'Source Code Pro VF';
        font-weight: 200 900;
        font-style: italic;
        font-stretch: normal;
        src: url('WOFF2/SourceCodeVariable-Italic.otf.woff2') format('woff2-variations'),
             url('WOFF2/SourceCodeVariable-Italic.ttf.woff2') format('woff2-variations');
    }

}
